@page "/tickets";
@using MudBlazor;
@using TicketSystem.Models;
<h3>ticket</h3>
<MudDataGrid Items="tickets">
	<Columns>
		<PropertyColumn Property="x=>x.TicketID"></PropertyColumn>
		<PropertyColumn Property="x=>x.Subject"></PropertyColumn>
		<PropertyColumn Property="x=>x.Description"></PropertyColumn>
		<PropertyColumn Property="x=>x.Status.StatusName"></PropertyColumn>
		<PropertyColumn Property="x=>x.Category"></PropertyColumn>
		<PropertyColumn Property="x=>x.Customer.NormalizedEmail"></PropertyColumn>
		<PropertyColumn Property="x=>x.AssignedAgent.NormalizedEmail"></PropertyColumn>
	</Columns>
</MudDataGrid>


